# Crontab
#
# This file is an example of how to trigger cron events using the Known cron
# plugin.
#
# @author Marcus Povey <marcus@marcus-povey.co.uk>


## Stuff you need to configure ##

# Location of your site (with trailing slash)
SITE='https://www.example.com/'

# Your admin access code (the one you got from activating your plugin
CODE='........'



## Stuff you probably won't need to touch ##

# Make GET request and discard content
GET="/usr/bin/lwp-request -m GET -d"



## The crontab ##

# You probably won't need to touch this

* * * * * $GET ${SITE}cron/minute/?code=$CODE
@hourly $GET ${SITE}cron/hourly/?code=$CODE
@daily $GET ${SITE}cron/daily/?code=$CODE
@weekly $GET ${SITE}cron/weekly/?code=$CODE
@monthly $GET ${SITE}cron/monthly/?code=$CODE
@yearly $GET ${SITE}cron/yearly/?code=$CODE